.game-container {
  display: flex;
  flex-direction: row;
}

.banner-show {
  width: 100%;
  display: flex;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
}

.box-description {
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 30%;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
}

.scroller {
  height: 430px;
  width: 70%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  background-color: #fff;
  padding: 32px;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
}
