<div class="contain-homepage">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(https://res.cloudinary.com/dcgykudmm/image/upload/v1638860752/wallpaper_ablbcz.jpg);">
    <h1>STEAMATOR</h1>
    <h2 class="sous-titre-home">The first video game estimator</h2>
    <!--<%= link_to "START", new_game_path, class:"mt-5 btn btn-danger" %>-->
    <i class="sous-titre fas fa-angle-double-down mt-5"></i>
  </div>

  <div class="cards-contain">

    <div class="card">
      <i class="fas fa-users" style="color:#219ebc"></i>
      <h3>Sign in</h3>
      <p class="descript-card">Connect to our app to get started</p>
    </div>

    <div class="card">
      <i class="fas fa-align-left" style="color:#90BE6D"></i>
      <h3>Form</h3>
      <p class="descript-card">Fill in the informations about your game</p>
    </div>

    <div class="card">
      <i class="fas fa-gamepad" style="color:#F3722C"></i>
      <h3>Estimate</h3>
      <p class="descript-card">We will give you a precise estimate</p>
    </div>

  </div>

  <div class="footer">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-github-square"></i>
  </div>

</div>
