<div class="contain-homepage">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(https://res.cloudinary.com/dcgykudmm/image/upload/v1638860752/wallpaper_ablbcz.jpg);">
      <h1>STEAMATOR</h1>
      <h2>The first estimator for video game publisher</h2>
      <%= link_to "New Game", new_game_path, class:"mt-5 btn btn-danger" %>
  </div>
</div>
