<div class="contain-homepage">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(https://res.cloudinary.com/dcgykudmm/image/upload/v1638860752/wallpaper_ablbcz.jpg);">
    <h1>STEAMATOR</h1>
    <h2 class="sous-titre-home">The first video game estimator</h2>
    <!--<%= link_to "START", new_game_path, class:"mt-5 btn btn-danger" %>-->
    <i class="sous-titre fas fa-angle-double-down mt-5"></i>
  </div>

  <div class="cards-contain">

    <div class="card">
      <i class="fas fa-users" style="color:#219ebc"></i>
      <h3>Sign in</h3>
      <p class="descript-card">Connect to our app to get started</p>
    </div>

    <div class="card">
      <i class="fas fa-align-left" style="color:#90BE6D"></i>
      <h3>Form</h3>
      <p class="descript-card">Fill in the informations about your game</p>
    </div>

    <div class="card">
      <i class="fas fa-gamepad" style="color:#F3722C"></i>
      <h3>Estimate</h3>
      <p class="descript-card">We will give you a precise estimate</p>
    </div>

  </div>

  <div class="wrapper">

    <div class="one text-center"><i class="fas fa-quote-left mr-2"></i>They talk about us</div>

    <div class='reviews'>
      <div class="two">
          <p class='wrapper-1'>Thanks to Streamator, I know exactly how many people will own my game in one year! I never thought that so many people would be interested in my game!</p>
          <p class='wrapper-2 mt-4' style="font-weight: 700; margin-bottom: 0px;">Toby Wolf</p>
          <p class='wrapper-3' style="font-size:smaller; color:grey">Overtale</p>
      </div>

      <div class="three">
        <p class='wrapper-1'>Last year, I had created a game, but I didn't know if I should post it on steam or not. But with Streamator, I know now that people are really interested with cute dogs playing golf!</p>
        <p class='wrapper-2' style="font-weight: 700; margin-bottom: 0px;">Edward Bon</p>
        <p class='wrapper-3' style="font-size:smaller; color:grey">Cute Dog That Plays Golf</p>
      </div>

      <div class="four">
        <p class='wrapper-1'>Before Streamator, I was alone, I had no dream, no goals in life... But with Streamator, I created my game, I became rich, and now I live in Las Vegas with my beautifull wife, and my two children.</p>
        <p class='wrapper-2' style="font-weight: 700; margin-bottom: 0px;">Uwu Bol</p>
        <p class='wrapper-3' style="font-size:smaller; color:grey">House of the Death</p>
      </div>
    </div>

  </div>

  <div class="footer">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-github-square"></i>
  </div>

</div>
