<div>
  <% if params[:query].blank? %>
  <% else %>
    <div class="tags d-flex justify-content-center">
      <ul class="list-group w-50">
        <% tags[0,5].each do |tag| %>
            <li class="list-group-item" data-action="click->search-tags#select" data-id="<%= tag.id %>"><%= tag.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
