<div>
  <% if params[:query].blank? %>
    <h1 class="h3"><%= pluralize tags.count, 'tag' %> available</h1>
  <% else %>
    <div class="tags">
      <ul class="list-group">
        <% tags.each do |tag| %>
            <li class="list-group-item" data-action="click->search-tags#select" data-id="<%= tag.id %>"><%= tag.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
