.navbar-lewagon {
  justify-content: space-between;
  background: #181A21;
  color: #F4F4F4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand h2 {
  color: #F4F4F4;
}
